body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.recipe {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
}

.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    background-color: #f8d7da;
    color: #721c24;
    margin-bottom: 10px;
    padding: 10px;
}


h1 {
    color: #333;
}