{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>{{ legend if legend else 'Create Recipe' }}</h1>
    <form class="recipe-form" method="post" action="{{ url_for('recipes.create_recipe') }}">
        {{ form.hidden_tag() }}
        <label for="title">{{ form.title.label.text }}</label>
        {{ form.title(size=32) }}
        
        <label for="description">{{ form.description.label.text }}</label>
        {{ form.description(rows=4) }}
        
        <label for="ingredients">{{ form.ingredients.label.text }}</label>
        {{ form.ingredients(rows=6) }}
        
        <label for="instructions">{{ form.instructions.label.text }}</label>
        {{ form.instructions(rows=6) }}
        
        <button type="submit">{{ form.submit.label.text }}</button>
    </form>
</div>
{% endblock %}
